<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeagueHub</title>
    <link rel = "icon" type = "image/x-icon" href = "images/favicon.ico">
</head>
<body>
    <script src="index.js"></script>
    <div id = banner>
        <h1 id = title>LeagueHub</h1>
        <p id = info>
            <a href="https://www.football-data.org/" target = "_blank">api</a> &nbsp;
            <a href="https://github.com/linaslabs/LeagueHub/" target = "_blank">github</a> &nbsp;
            <a href="https://www.premierleague.com/" target = "_blank">PL</a>
        </p>
    </div>

    <div id = container>
        <div id = left>
            <table id = "standings" border = "1" align="center">
                <tr class = "rows">
                    <th class = "team">Team </th>
                    <th>MP</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>GD</th>
                    <th class = "points">Pts</th>
                </tr>
                
                <% standings.standings[0].table.forEach(standing =>{ %>
                    <tr class = "rows">
                        <th class = "team" onclick="teamMatches('<%=standing.team.id%>','<%=standing.team.shortName%>')"> <%= standing.position %> <img src = "<%=standing.team.crest%>" height="25pt" width="25pt"  alt = crest> <%= standing.team.name.replace(" FC","") %></th>
                        <th width = 40> <%= standing.playedGames %></th>
                        <th width = 40> <%= standing.won %></th>
                        <th width = 40> <%= standing.draw %></th>
                        <th width = 40> <%= standing.lost %></th>
                        <th width = 40> <%= standing.goalsFor %></th>   
                        <th width = 40> <%= standing.goalsAgainst %></th>
                        <th width = 40> <%= standing.goalDifference %></th>
                        <th width = 40 class = "points"> <%= standing.points %></th>
                    </tr>
                <% }) %>
            </table>
        </div>
        
        
        
        <div id = centre>

            <p class = prompt> Click on a team in the table to see their upcoming matches!</p>
            
            <div class = 'loader loader--hidden'></div>

        </div>

        <div id = right>
                <h2>Gameweek <%=standings.season.currentMatchday%></h2>
                <% let currentMatchDate = null; %>
                <% (gameWeek.matches).forEach(match => { %>
                    <p>
                        <% if(match.utcDate.slice(0,10) != currentMatchDate){ %>
                                <hr>
                                <script>document.write(formatDate(`<%=match.utcDate%>`))</script>
                                <% currentMatchDate = match.utcDate.slice(0,10) %>
                                <br>
                                <p></p>
                        <% } %>
                        
                        <div class = teams>
                            <div class = homeTeam>
                                <img src = "<%=match.homeTeam.crest%>" height="25pt" width="25pt" alt = crest> <%=match.homeTeam.name.replace(" FC", "")%>
                            </div>
                            
                            <div class = timeOrScore>
                                <script>
                                    if(`<%=match.status%>` == "IN_PLAY"){
                                        document.write("LIVE")
                                    }
                                    else if(`<%=match.status%>` == "PAUSED"){
                                        document.write("HALF-TIME")
                                    }
                                    else if(`<%=match.status%>` != "FINISHED"){
                                        document.write(formatTime(`<%=match.utcDate%>`))
                                    }else{
                                        document.write(`<%=match.score.fullTime.home%>`+ " - " + `<%=match.score.fullTime.away%>`)
                                    }
                                </script>
                            </div>
                            
                            <div class = awayTeam>
                                <%=match.awayTeam.name.replace(" FC", "")%> <img src = "<%=match.awayTeam.crest%>" height="25pt" width="25pt" alt = crest>  <br>
                            </div>
                        </div>

                    </p>
                <% }) %>
        </div>
    </div>
</body>
</html>