<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeagueHub</title>
    <link rel = "icon" type = "image/x-icon" href = "images/favicon.ico">
</head>
<body>
    <script src="index.js"></script>
    <h1>LeagueHub</h1>
    <div id = container>
        <div id = left>
            <table id = "standings" border = "1" align="center">
                <tr class = "rows">
                    <th class = "team">Team </th>
                    <th>MP</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>GD</th>
                    <th class = "points">Pts</th>
                </tr>
                
                <% standings.forEach(standing =>{ %>
                    <tr class = "rows">
                        <th class = "team" onclick="teamMatches('<%=standing.team.id%>')"> <%= standing.position %> <img src = "<%=standing.team.crest%>" height="25pt" width="25pt"> <%= standing.team.name.replace(" FC","") %></th>
                        <th width = 35> <%= standing.playedGames %></th>
                        <th width = 35> <%= standing.won %></th>
                        <th width = 35> <%= standing.draw %></th>
                        <th width = 35> <%= standing.lost %></th>
                        <th width = 35> <%= standing.goalsFor %></th>
                        <th width = 35> <%= standing.goalsAgainst %></th>
                        <th width = 35> <%= standing.goalDifference %></th>
                        <th width = 35 class = "points"> <%= standing.points %></th>
                    </tr>
                <% }) %>
            </table>
        </div>

        <div id = centre>
            Click a team in the table to see their upcoming matches!
        </div>

        <div id = right>
                <% (gameWeek.matches).forEach(match => { %>
                    <p>
                        <script>document.write(formatDate(`<%=match.utcDate%>`))</script> <br>
                        <div class = teams>
                            <div class = homeTeam>
                                <img src = "<%=match.homeTeam.crest%>" height="25pt" width="25pt"> <%=match.homeTeam.name.replace(" FC", "")%>
                                <!--alt?-->
                            </div>
                            
                            <div class = timeOrScore>
                                <script>if(`<%=match.status%>` != "FINISHED"){
                                    document.write(formatTime(`<%=match.utcDate%>`))
                                }else{
                                    document.write(`<%=match.score.fullTime.home%>`+ " - " + `<%=match.score.fullTime.away%>`)
                                }
                                </script>
                            </div>
                            
                            <div class = awayTeam>
                                <%=match.awayTeam.name.replace(" FC", "")%> <img src = "<%=match.awayTeam.crest%>" height="25pt" width="25pt">  <br>
                            </div>
                        </div>

                        <hr>                     
                    </p>
                <% }) %>
        </div>
    </div>
</body>
</html>